.App {
  position: relative;

}

.main-section {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 20% 20% 60%;
    
}

.main-header {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  height: 165px;
  margin: 0 20px;
  opacity: 0.6;
  background-color: #560039;

  .icon {
    
    img {
    padding-top: -1px;
    width: 10%;
    vertical-align: -webkit-baseline-middle;
    }
  }
  

  h1 {
    margin: -25px;
    padding: 1%;
    color: #E5E5E5;
    font-size: 3.5em;
    text-align: center;
  }

  .location {
    vertical-align: middle;
    font-size: 0.75em;
  }
}

@media screen and (max-width: 1120px) {
  .main-header {

    .location {
      margin-left: 10px;
      font-size: 0.65em;
    }
  }
}

@media screen and (max-width: 1000px) {
  .main-section {
      grid-template-columns: 100%;
      grid-template-rows: 10% 30% 30% 30%;
    }

  .main-header {
      display: grid;
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;
      height: 200px;
      margin: 0;

    h1 {
      font-size: 2.5em;
    }

    .icon {

      img{
        width: 12%;
      }
    }


  }
}

@media screen and (max-width: 800px) {
  .main-header {
    height: 255px;
  }
}

@media screen and (max-width: 420px) {

    .main-header {

      h1 {
        position: relative;
        bottom: -30px;
        left: 73px;
        padding: -6px;
        font-size: 2em;
        text-align: left;
      }

      .location {
        position: absolute;
        left: 10px;
        top: 90px;
        font-size: 0.75em;
      }

      .icon {
        img {
          width: 25%;
        }
      }
    }  
  } 