.main-header {
  background-color: #560039;
  opacity: 0.6;
  width: 70%;
  margin: auto;
  height: 150px;

  h1 {
    font-size: 3.5em;
    color: #E5E5E5;
    text-align: center;
    margin: 3%;
    padding: 3%;
    padding-bottom: 0;
  }

  span {
    vertical-align: middle;
    font-size: 0.75em;
  }


}