.day-card {
  background-color: #E5E5E5;
  margin: 0.3em;
  color: #560039;
  text-align: center;
  width: 10%;

  h3 {
    margin: 0px -10px;
  }

  p {
    font-size: 2.5em;
    margin: -15px 0 0 0;
  }

  .day-high {
    font-weight: bold;
  }

}

.hour-card {
  display: flex;
  justify-content: space-between;
  background-color: #E5E5E5;
  margin: 10px auto;
  color: #560039;
  width: 355px;
  margin-bottom: 20px;

  h3 {
    font-size: 2.0em;
    margin: 0px 10px;
  }
}

.hour-condition {
  display: inline-flex;

  h3 {
    font-size: 2.5em;
    margin: -8px 3px;
  }

  img {
    margin-right: 5px
    }
}

@media screen and (max-width: 1200px) {
  .hour-card {
    width: 300px;
  } 
}

@media screen and (max-width: 920px) {
  .day-card {
    width: 30%;
  }
}

@media screen and (max-width: 420px) {
  .day-card {
    width: 100%;
  }
}
