.day-card {
  background-color: #FFFFFF;
  margin: 0.3em;
  color: #560039;
  text-align: center;
  width: 6em;

  h3 {
    margin: 0px -10px;
  }

  p {
    font-size: 2.5em;
    margin: -15px 0 0 0;
  }

  .day-high {
    font-weight: bold;
  }

}

.hour-card {
  display: flex;
  justify-content: space-between;
  background-color: #FFFFFF;
  margin: 10px 30px;
  color: #560039;
  width: 300px;

  h3 {
    font-size: 2.0em;
    margin: 0px -10px;
  }
}


.hour-condition {
  display: inline-flex;

  h3 {
    font-size: 2.5em;
    margin: -8px 8px;
  }

  img {
    margin-right: -10px
    }
}