.CurrentWeather {
  display: inline-grid;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  text-align: center;
  background-color: #BEBEBE;
  opacity: 0.8;
  color:#2D3142;
  margin: 20px;
  width: 450px;
  max-height: 700px;

  .header {
    background-color: #AF8161;
  }

  .location{
    width: 75%;
    font-size: 2em;
    margin: 0 auto;
    border-bottom: 1px #2D3142 solid;
  }

  .weather{
    font-size: 1.5em;
    margin: 0;
  }

  .weather-icon {
    padding-top: 10px;
    margin: 10px;
    margin-bottom: 0;
    width: 25%;  
  }

  .temp {
    color: #560039;
    font-size: 2.5em;
    margin: 0;
  }

  p {
    font-size: 1.5em;
    margin: 0;
    padding: 5px;
  }

  ul {
    position: relative;
    bottom: 30px;
    right: 30px;
    list-style-type: none;
  }

  li {
    vertical-align: middle;
    display: inline-block;
    font-size: 1.5em;
    padding: 5px;  
  }

  .summery {
    position: relative;
    bottom: 35px;
    left: 5%;
    width: 85%;
  }
}

@media screen and (max-width: 1000px) {
  .CurrentWeather {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    width: 90%;
    margin: 10px auto;

    .weather-icon {
      width: 15%;
    }

    .summary{
      position: relative;
      bottom: 60px;
    }
  }
}

@media screen and (max-width: 320px) {
  .CurrentWeather {

    .temp {
      font-size: 2.5em;
      padding-bottom: 0;
    }

    ul {
      position: relative;
      right: 30px;
      bottom: 0;
    } 

    p {
      padding: 0;
    } 

    .location {
      width: 100%;
    }  
    
  }
} 