.Search {
  position: relative;
  margin:  0;
  width: 90%;
  text-align: center;

  form {
    position: relative;
    bottom: 12px;
    height: 100px;
  }

  #searchInput {
    border: none;
    width: 50%;
    height: 34px;
    font-size: 1.5em;
    text-align: center
   }

  #search-input::placeholder {
    color:#313030; 
  }

   button {
    position: absolute;
    bottom: 64px;
    border: none;
    height: 37px;
    background-color: #b5b3b3;
    color: #313030;
    font-size: 2em;
  }

  li {
    padding-top: 300px;
    margin-top: 200px;
    z-index:100;
    background-color: white;
    color:green;
  }

  input::-webkit-calendar-picker-indicator {
    display: none;
  }

}


@media screen and (max-width: 1120px) {
  .Search {
    form {
      position: relative;
      bottom: 0px;
    }
  }

}



@media screen and (max-width: 800px) {

  .Search  {
    form {
      position: relative;
      bottom: -10px;
      left: 40px;
    }

    #searchInput {
      height: 48px;
      width: 90%;
      border: none;
      font-size: 1.5em;
      text-align: left;
    }

    button {
      position: absolute;
      top: 0px;
      right: -2px;
      height: 50px;
    }
  }
}

@media screen and (max-width: 420px) {
  .Search {
    width: 100%;
    
    form {
      position: relative;
      bottom: -60px;
      left: 0;
      right: 0px;
      width: 90%;
    }
    

    #searchInput {
      position: relative;
      left: 17px;
      width: 100%;
    }

    button {
      position: absolute;
      right: -30px;
      top: -10px;
      height: 50px;
      width: 110px;
      margin: 10px;
    }
  }
}


