.seven-hour-forecast {
  display: inline-block;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  
  .container {
    width: 96%;
    background-color: #560039;
    opacity: 0.6; 
  }
  .seven-hour-grid {
    display: inline-flex;
    flex-wrap: wrap;
  }

  h2 {
    margin: 15px 0;
    font-size: 2em;
    text-align: center;
    color: #E5E5E5;
  }


}

@media screen and (max-width: 1260px) {
  .container {
    width: 85%;
  }
}

@media screen and (max-width: 980px) {
  .seven-hour-forecast {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    overflow-y: scroll;
    height: 400px;
    width: 100%;
    margin: 20px;


  }

}

@media screen and (max-width: 320px) {
  .seven-hour-forecast {
    // display: grid;
    // grid-column-start: 1;
    // grid-column-end: 3;
    // grid-row-start: 3;
    // grid-row-end: 4;
    // overflow-y: scroll;
    // height: 400px;
  
    .container {
    width: 100%;
    }

  }


} 