.seven-hour-forecast {
  display: inline-block;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  overflow-y: scroll;
  height: 600px;
  
  .container {
    width: 85%;
    background-color: #560039;
    opacity: 0.6; 
  }
  .seven-hour-grid {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  h2 {
    margin: 15px 0;
    font-size: 2em;
    text-align: center;
    color: #E5E5E5;
  }


}

@media screen and (max-width: 1200px) {
  .container {
    position: relative;
    left: 75px;
    width: 75%;
  }
}

@media screen and (max-width: 1000px) {
  .seven-hour-forecast {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    height: 400px;
    width: 100%;

    .container {
      position: relative;
      left: 30px;
      width: 90%;
    }

  }

}

@media screen and (max-width: 320px) {
  .seven-hour-forecast {
    .container {
    width: 100%;
    }

  }
} 