.ten-day-forecast {
  position: absolute;
  bottom: 30px;
  left: 20px;

  h2 {
    margin: 20px 0 0 20px;
    color: #E5E5E5;
  }

  .ten-day-grid {
    display: flex;
    flex-direction: row;


  }
}