

.ten-day-forecast {
  display: inline-grid;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  margin: 20px;
 

  h2 {
    margin: 20px 0 0 20px;
    color: #E5E5E5;
  }


  .ten-day-grid {
    display: flex;
    flex-direction: row;


  }
}