.ten-day-forecast {
  display: inline-grid;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  margin: 20px;
 

  h2 {
    opacity: 0.5;
    color: #E5E5E5;
    font-size: 1.5em;
  }

  .ten-day-grid {
    display: flex;
    flex-direction: row;
  }
}



@media screen and (max-width: 1000px) {
  .ten-day-forecast {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    position: relative;
    left: 30px;
    overflow-y: scroll;
    height: 600px;
    margin: 0;

    .ten-day-grid {
      flex-wrap: wrap;
      width: 100%;
    }
  }
}

@media screen and (max-width: 800px) {
  position: relative;
  left: 10px;
}

@media screen and (max-width: 420px) {
  .ten-day-forecast {
    position: relative;
    left: 4px;

    .ten-day-grid {
      display: flex;
      flex-direction: column;
    }
  }
}