.Welcome {
  margin: 100px auto;
  
  header {
    margin: auto;
    background-color: #560039;
    opacity: 0.6;
    width: 60%;
    height: 500px;
  }

  .icon {
    vertical-align: - webkit-baseline-middle;
    img {
      width: 15%;
    }
  }

  h1 {
    padding-top: 60px;
    font-size: 5em; 
  }

  h2 {
    font-size: 2em;
    margin: 80px;
  }

  h1, 
  h2 {
    color: #E5E5E5;
    text-align: center;
    margin: 10px; 
  }
}

@media screen and (max-width: 900px) {
  .Welcome{
    h1 {
    font-size: 4.5em;
    }

    h2 {
    font-size: 1.75em;
    margin: 60px;
    }

  }
}

@media screen and (max-width: 600px) {
  .Welcome {
    margin:40px auto;

    header {
      height: 600px;
      width: 90%;
    }

    .icon {
      img {
        width: 25%;
      }
    }

    h1 {
    font-size: 3.5em;
    }

    h2 {
    font-size: 1.75em;
    }

  }
}

@media screen and (max-width: 460px) {
  .Welcome {
    h2 {
    margin: 10;
    }
  } 
}